[project]
	description = Scripts and configuration dot files
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vijay Anand R (vjanandr)
[access "refs/for/refs/*"]
	read = group user/Vijay Anand R (vjanandr)
	push = group user/Vijay Anand R (vjanandr)
	label-Code-Review = -2..+2 group user/Vijay Anand R (vjanandr)
	label-Verified = -1..+1 group user/Vijay Anand R (vjanandr)
	rebase = group user/Vijay Anand R (vjanandr)
	removeReviewer = group user/Vijay Anand R (vjanandr)
	submit = group user/Vijay Anand R (vjanandr)
[access "refs/heads/*"]
	read = group user/Vijay Anand R (vjanandr)
	create = group user/Vijay Anand R (vjanandr)
	push = +force group user/Vijay Anand R (vjanandr)
	pushMerge = group user/Vijay Anand R (vjanandr)
[access "refs/tags/*"]
	push = +force group user/Vijay Anand R (vjanandr)
	pushTag = group user/Vijay Anand R (vjanandr)
	pushSignedTag = group user/Vijay Anand R (vjanandr)
