# https://github.com/tmux/tmux/releases/download/latest/tmux-latest.tar.gz
# https://github.com/tmux/tmux/releases/download/latest/tmux-latest.tar.gz
Host github.com
   HostName github.com
   IdentityFile ~/.ssh/id_rsa_vijayr
   IdentitiesOnly yes

Host github-vjanandr
   HostName github.com
   IdentityFile ~/.ssh/id_rsa_vjanandr
   IdentitiesOnly yes
